<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>ATLAS GO CAR</title>
 <link rel="icon" th:href="@{images/faviconicon.ico}" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>

</head>
<body class="sb-nav-fixed">
<nav th:replace="fragments/nav.html :: div.navtop"></nav>
<div id="layoutSidenav">
  <nav th:replace="fragments/nav.html :: div.navright"></nav>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <div th:if="${clientDeleted}" class="text-success">
          <div class="alert alert-success" role="alert">
            Le client a été supprimé avec succès !
          </div>
        </div>
        <h5 class="mt-4">Afficher les clients</h5>
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Liste des clients
          </div>
          <div class="card-body">
            <table id="datatablesSimple">
              <thead>
              <tr>
                <th>nom</th>
                <th>prenom</th>
                <th>telephone</th>
                <th>cin</th>
                <th>dateFinCin</th>
                <th>passeport</th>
                <th>dateDebutPasseport</th>
                <th>permis</th>
                <th>dateDebutPermis</th>
                <th>dateDeNaissance</th>
                <th>hotel</th>
                <th>adresse</th>
                <th>chambre</th>


              </tr>
              </thead>
              <tfoot>
              <tr>
                <th>nom</th>
                <th>prenom</th>
                <th>telephone</th>
                <th>cin</th>
                <th>dateFinCin</th>
                <th>passeport</th>
                <th>dateDebutPasseport</th>
                <th>permis</th>
                <th>dateDebutPermis</th>
                <th>dateDeNaissance</th>
                <th>hotel</th>
                <th>adresse</th>
                <th>chambre</th>


              </tr>
              </tfoot>
              <tbody>
              <tr th:each="client: ${clients}">
                <td th:text="${client.nom}" />
                <td th:text="${client.prenom}" />
                <td th:text="${client.telephone}" />
                <td th:text="${client.cin}" />
                <td th:text="${#dates.format(client.dateFinCin, 'dd-MM-yyyy')}" />
                <td th:text="${client.passeport}" />
                <td th:text="${#dates.format(client.dateDebutPasseport, 'dd-MM-yyyy')}" />
                <td th:text="${client.permis}" />
                <td th:text="${#dates.format(client.dateDebutPermis, 'dd-MM-yyyy')}" />
                <td th:text="${#dates.format(client.dateDeNaissance, 'dd-MM-yyyy')}" />
                <td th:text="${client.hotel}" />
                <td th:text="${client.adresse}" />
                <td th:text="${client.chambre}" />

              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Your Website 2022</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script th:src="@{js/scripts.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script th:src="@{assets/demo/chart-area-demo.js}"></script>
<script th:src="@{assets/demo/chart-bar-demo.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script th:src="@{js/datatables-simple-demo.js}"></script>
</body>
</html>
