<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Corisco GO CAR</title>
  <link rel="icon" th:href="@{images/faviconicon.ico}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Default Description">
<meta name="keywords" content="fashion, store, E-commerce">
<meta name="robots" content="*">

<!-- CSS Style -->
<link rel="stylesheet" type="text/css" th:href="@{stylesheet/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{stylesheet/font-awesome.css}" media="all">
<link rel="stylesheet" type="text/css" th:href="@{stylesheet/bootstrap-select.css}">
<link rel="stylesheet" type="text/css" th:href="@{stylesheet/revslider.css}" >
<link rel="stylesheet" type="text/css" th:href="@{stylesheet/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{stylesheet/owl.theme.css}">
<link rel="stylesheet" type="text/css" th:href="@{stylesheet/jquery.bxslider.css}">
<link rel="stylesheet" type="text/css" th:href="@{stylesheet/jquery.mobile-menu.css}">
<link rel="stylesheet" type="text/css" th:href="@{stylesheet/style.css}" media="all">
<link rel="stylesheet" type="text/css" th:href="@{stylesheet/responsive.css}" media="all">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500,600,700,800" rel="stylesheet">
</head>
<body>
<div id="page">
  <header>
    <div class="container">
      <div class="row">
        <div id="header">
          <div class="header-container">
            <div class=""> <a href="index-2.html" title="Car HTML" class="logo">

              </a> </div>
            <div class="header__nav">
              <div class="header-banner">
                <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                  <div class="assetBlock">
                    <div style="height: 20px; overflow: hidden;" id="slideshow">
                      <p style="display: block;">Journées chaudes! - <span>50%</span> Préparez-vous pour l'été ! </p>
                      <p style="display: none;">Économiser jusqu'à <span>40%</span> Dépêchez-vous offre limitée!</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-lg-6 col-xs-12 col-sm-6 col-md-6 call-us"><i class="fa fa-camera-retro"></i> Mon - Fri : 09am à 06pm <i class="fa fa-phone"></i> +212 661815950 </div>
              </div>
              <div class="fl-header-right">
                <div class="fl-links">
                  <div class="no-js"> <a title="" class="clicker"></a>
                    <div class="fl-nav-links">
                    
                        <!--fl-language--> 
                        <!-- END For version 1,2,3,4,6 --> 
                 
                        <!--fl-currency--> 
                        <!-- END For version 1,2,3,4,6 --> 
                       <h3>My Acount</h3>
                      <ul class="links">
                        <li><a href="login.html" title="My Account">Login</a></li>
                        </ul>
                    </div>
                  </div>
                </div>
           
                <!--mini-cart-->
              
                <!--links--> 
              </div>
              <div class="fl-nav-menu">
                <nav>
                  <div class="mm-toggle-wrap">
                    <div class="mm-toggle"><i class="fa fa-bars"></i><span class="mm-label">Menu</span> </div>
                  </div>
                  <div class="nav-inner"> 
                    <!-- BEGIN NAV -->
                    <ul id="nav" class="hidden-xs">
                    
                        <!--level0-wrapper dropdown-6col--> 
                        <!--mega menu--> 
                
                    </ul>
                    <!--nav--> 
                  </div>
                </nav>
              </div>
            </div>
            
            <!--row--> 
            
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--container-->
  
  <div class="content">
    <div class="container-fluid">
      
      <div class="row"> 
        <!-- Slider -->
        <div class="home-slider5">
          <div id="thmg-slideshow" class="thmg-slideshow">
            <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container' >
              <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
                <ul>
                  <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='images/slide-img1.jpg'><img th:src="@{images/slide-img1.jpg}"  data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
                    <div class="container">
                      <div class="content_slideshow">
                        <div class="row">
                          <div>
                            <div class="info">
                              <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'><span>Top Brands 2022</span> </div>
                              <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'><span style="font-weight:normal; display:block">Modern-classic</span> incredible </div>
                              <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1450' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'>OBTENEZ 40% DE RÉDUCTION SUR LES VOITURES SÉLECTIONNÉS.</div>
                              <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='#' class="buy-btn">Prendre un rendez vous</a> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='images/slide-img2.jpg'><img th:src="@{images/slide-img2.jpg}"  data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
                    <div class="container">
                      <div class="content_slideshow">
                        <div class="row">
                          <div>
                            <div class="info">
                              <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'><span>Location des voitures</span> </div>
                              <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'><span style="font-weight:normal; display:block">Modern-classic</span> Decorative </div>
                              <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1450' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'>OBTENEZ 40% DE RÉDUCTION SUR LES VOITURES SÉLECTIONNÉS.</div>
                              <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='#' class="buy-btn">Prendre un rendez vous</a> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="tp-bannertimer"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--Category slider Start-->

    
    <!--Category silder End-->

    
    <!-- Logo Brand Block -->
    <div class="brand-logo wow bounceInUp animated">
      <div class="container">
        <div class="row">
          <div class="home-banner col-lg-2 hidden-md col-xs-12 hidden-sm"> </div>
          <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <div class="testimonials-section">
              <div class="offer-slider parallax parallax-2">
                <ul class="bxslider">
                  <li>
                    <div class="testimonials">Un accueil très professionnel , chaleureux et rapide. Voiture conforme, très propre et parfaite pour la route. Prise et retour de la voiture très rapide!</div>
                    <div class="clients_author">DROUSSI AYMANE<span>Happy Customer</span> </div>
                  </li>
                  <li>
                    <div class="testimonials">J'ai loué une voiture chez Corisco GO CAR CASABLANCA ,  j'ai été très satisfait. Non seulement ils ont les meilleurs prix mais encore leurs vehicules ont tous un faible kilométrage. Les agents ZOUHAIR et Fouad sont des professionnels top, ils vous aident même pour mettre vos valises et vos enfants dans la voiture. Ils sont vraiment très serviables.</div>
                    <div class="clients_author">MALYADI AKRAM <span>Happy Customer</span> </div>
                  </li>
                  <li>
                    <div class="testimonials">Nous avons loué notre voiture à Tanger. Très comprehensive, très attentif aux attentes des clients. Mr ZOUHAIR et son collègue nous ont vraiment d un service très sympathique et très professionnel.
                      Je pense que vous pouvez les faire confiance. Ils sont très sérieux dans leur travail! </div>
                    <div class="clients_author">AMINA SARAFI <span>Happy Customer</span> </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- best Pro Slider -->


  
  <!-- For version 1,2,3,4,6 -->
  
  <footer> 
    <!-- BEGIN INFORMATIVE FOOTER -->
  
    <!--footer-inner-->
    
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="social">
              <ul>
                <li class="fb"><a href="#"></a></li>
                <li class="tw"><a href="#"></a></li>
                <li class="linkedin"><a href="#"></a></li>
                <li class="youtube"><a href="#"></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12 coppyright"><a target="_blank" href="#">Corisco CAR</a></div>
          <div class="col-xs-12 col-sm-4">
            <div class="payment-accept"> <img th:src="@{images/payment-1.png}" alt=""> <img th:src="@{images/payment-2.png}" alt=""> <img th:src="@{images/payment-3.png}" alt=""> <img th:src="@{images/payment-4.png}" alt=""> </div>
          </div>
        </div>
      </div>
    </div>
    <!-- BEGIN SIMPLE FOOTER --> 
  </footer>
  <!-- End For version 1,2,3,4,6 --> 
  
</div>
<!--page--> 
<!-- Mobile Menu-->
<div id="mobile-menu">
  <ul>
        <li>
      <div class="mm-search">
        <form id="search1" name="search">
          <div class="input-group">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> </button>
            </div>
            <input type="text" class="form-control simple" placeholder="Search ..." name="srch-term" id="srch-term">
          </div>
        </form>
      </div>
    </li>
     <li class="active"> <a class="level-top" href="#"><span>Home</span></a></li>
  
   </ul>
</div>


<!-- JavaScript --> 
<script  th:src="@{js/jquery.min.js}"></script>
<script  th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/bootstrap-slider.min.js}"></script>
<script th:src="@{js/bootstrap-select.min.js}"></script>
<script th:src="@{js/parallax.js}"></script>
<script  th:src="@{js/revslider.js}"></script>
<script  th:src="@{js/common.js}"></script>
<script th:src="@{js/jquery.bxslider.min.js}"></script>
<script  th:src="@{js/owl.carousel.min.js}"></script>
<script th:src="@{js/jquery.mobile-menu.min.js}"></script>
<script th:src="@{js/countdown.js}"></script>
<script>
        jQuery(document).ready(function(){
            jQuery('#rev_slider_4').show().revolution({
                dottedOverlay: 'none',
                delay: 5000,
                startwidth: 1170,
	            startheight:650,

                hideThumbs: 200,
                thumbWidth: 200,
                thumbHeight: 50,
                thumbAmount: 2,

                navigationType: 'thumb',
                navigationArrows: 'solo',
                navigationStyle: 'round',

                touchenabled: 'on',
                onHoverStop: 'on',
                
                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,
            
                spinner: 'spinner0',
                keyboardNavigation: 'off',

                navigationHAlign: 'center',
                navigationVAlign: 'bottom',
                navigationHOffset: 0,
                navigationVOffset: 20,

                soloArrowLeftHalign: 'left',
                soloArrowLeftValign: 'center',
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,

                soloArrowRightHalign: 'right',
                soloArrowRightValign: 'center',
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,

                shadow: 0,
                fullWidth: 'on',
                fullScreen: 'off',

                stopLoop: 'off',
                stopAfterLoops: -1,
                stopAtSlide: -1,

                shuffle: 'off',

                autoHeight: 'off',
                forceFullWidth: 'on',
                fullScreenAlignForce: 'off',
                minFullScreenHeight: 0,
                hideNavDelayOnMobile: 1500,
            
                hideThumbsOnMobile: 'off',
                hideBulletsOnMobile: 'off',
                hideArrowsOnMobile: 'off',
                hideThumbsUnderResolution: 0,

                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0,
                fullScreenOffsetContainer: ''
            });
        });
        </script> 
<script type="text/javascript">
    function HideMe()
    {
        jQuery('.popup1').hide();
        jQuery('#fade').hide();
    }
</script> 
<script>
      var dthen1 = new Date("12/25/17 11:59:00 PM");
      start = "08/04/15 03:02:11 AM";
      start_date = Date.parse(start);
      var dnow1 = new Date(start_date);
      if (CountStepper > 0)
      ddiff = new Date((dnow1) - (dthen1));
      else
      ddiff = new Date((dthen1) - (dnow1));
      gsecs1 = Math.floor(ddiff.valueOf() / 1000);
      
      var iid1 = "countbox_1";
      CountBack_slider(gsecs1, "countbox_1", 1);
    </script>
</body>

</html>
